@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;0,800;1,100;1,200&display=swap');
*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #EEEEEE;
    text-align: center;
    justify-content: center;
}
a{
    text-decoration: none;
    color: lightcoral;
}
#main{
    padding: 10px;
}
#image{
    width: 100%;
}
#title{
    font-size: 3rem;
    margin-top: 60px;
    color:#333333;
}
.title p{
    font-size: 0.8rem;
    margin-bottom: 15px;
}

li{
    margin-top: 15px;
    margin-bottom: 15px;
}
#img-caption{
    font-size: 0.8rem;
    margin-bottom: 15px;
    border: 1px solid #333333;
    padding: 10px 20px;
}
@media (min-width: 700px) { 
    #image{
        width: 70%;
    }
}
#famous_word{
    font-weight: bold;
    font-size: 15px;
    font-style: italic;
    margin-bottom: 50px;
    margin-top: 50px;
}

#info-header{
    color: #333333;
}

strong{
    color:#333333;
}
#circle{
    margin-bottom: 2px;
    margin-right: 5px;
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #333333;
}

